*{
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: black;
    color: white;
}

#header {
    width: 100%;
    height: 100vh;
    background: url("rakhul.jpg");
    background-size: 600px;   
    background-position: left center 20px;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.container {
    padding: 10px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#rak{
    font-size: 30px;
    font-weight: 700;
    color: Red;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    height: 3px;
    cursor: pointer;
    background: red;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    text-align: right;
    margin-top: 20%;
    font-size: 30px;
}


.header-text h1{

    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color: red;
}
.img1{
    width: 100%;
    height: 50vh;
    background-size: 600px;   
    margin-left: 0%;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
/*------------------------------about section-------------------------------- -- */  
#about{
    padding: 80px 0;
    color: red;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis: 35%;
}

.about-col1 img{
    width: 100%;
}
.about-col2{
    flex-basis: 50%;
    margin-top: 100px;
}

.sub{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin-top: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    height: 3px;
    background: red;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

tab-contents {
    list-style: none;
    margin:10px 0;
}

.tab-contents span {
  font-size: 14px;
  color: red !important;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*------------------------------contact-------------------------------- -- */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.btn.btn2{
    display:block;
    background: red;
    cursor: pointer;
}

.contact-right form{
    width:100%;
}

form input,form textarea{
    width: 100%;
    padding: 15px;
    margin:15px 0;
    background: black;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-family: poppins, sans-serif;
}

form.btn.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: grey;
    font-weight: 300;
    margin-top: 20px;
}

/*------------------------------Responsive-------------------------------- -- */

nav .fa-solid.fa-bars{
    display: none;
}

nav .fa.fa-close{
    display: none;
}

@media only screen and (max-width: 600px) {
    #header{
        background: url("mobile.jpg");
        background-size: cover;
        height: 400px;
    }

    nav ul li{
        display: block;
        margin: 25px;    
    }
    nav .fa-solid.fa-bars{
    display: block;
    font-size: 25px;
}

nav .fa.fa-close {
  display: block;
    font-size: 25px;
}
nav ul{
        background: brown;
        position: fixed;
        top: 0;
        right:-200px;
        height: 100vh;
        width: 200px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul .fa.fa-close{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    } 
    .header-text {
        font-size: 40px;
        margin-top: auto;
    }

    .header-text h1{
        font-size: 20px;
    }
    .about-col1, .about-col2{
        flex-basis: 100%;
        
    }
  
     
}

