{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Rakhul</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/all.min.css"
  />
    <link rel="stylesheet" href="{% static 'mywebsite/raja.css' %}">

    <link rel="website icon" type="png/jpg" href="{% static 'mywebsite/logo.jpg' %}">
</head>
<body>
    <!--          header        -->
    <div id="header">
        <div class="container">
            <nav>
                <h1 id="rak">Rakhul</h1>
                <ul id="sidemenu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#ab">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fa fa-close" onclick="closemenu()"></i>
                </ul>
                <i class="fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <h1>Hi, I'm <span>Rakhul</span> Sankar from <br>Chennai</h1>
            </div>
        </div>
    </div>
<!--          about        -->
  <div  id = "ab" class="about">
    <div class="container">
        <div class="row">
            <div class="about-col1">
               <img src="{% static 'mywebsite/rakhul3.png' %}">
            </div>
            <br>
            <div class="about-col2">
                <h1 class="sub">About me</h1>
                <p>For the frontend I have learned Python and Java as a beginner, and for the backend I have learned Django as a beginner.</p>
           <br>
          <!--          Skils        -->
                <div  id= "portfolio" class = "tab-titles">
                <p class="tab-links active-link " onclick="opentab('skills')">Skills</p>
                <p class="tab-links"onclick="opentab('education')">Education</p>
            </div>
            <br>
            <div class ="tab-contents active-tab" id = "skills">
                
                    <span>Python</span><br>Back-end
                    <br>
                    <br>
                    <span>Java</span><br>Back-end
                    <br>
                    <br>
                    <span>HTML,CSS,JS</span><br>Front-end
            </div>
            <br>
            <div class="tab-contents" id = "education">
                
                    <span>2023</span><br>BSC(IT)
                    <br>
                    <br>
                    <span>2026</span><br>MCA
                    
            </div>
        </div>
    </div>
  </div>
 
 <!--          Contact        -->
   <div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p>contact rakhulsankar@gmail.com</p>
                <p>9003261294</p>
                </div>
                
            <div class="contact-right">

    <form method="post" action="{% url 'raja' %}">
        {% csrf_token %}
        <input type="text" name="Name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
        <button type="submit" class="btn btn2">Send</button>
    </form>

</div>

        </div>
    </div>
   <!--          Copyright        -->
    <div class="copyright">
        <p>Copyright &copy; Rakhul</p>
    </div>
   </div>
<!--          script        -->
  <script src="{% static 'mywebsite/raja.js' %}"></script>
 

</body>
</html>

